html {
  scroll-behavior: smooth;
}

kbd {
  pointer-events: none;
  display: inline-flex;
  height: 1.25rem/* 20px */;
  user-select: none;
  align-items: center;
  gap: 0.25rem/* 4px */;
  border-radius: 0.25rem/* 4px */;
  border-width: 1px;
  background-color: hsl(var(--muted));
  padding-left: 0.375rem/* 6px */;
  padding-right: 0.375rem/* 6px */;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 10px !important;
  font-weight: 500;
  color: hsl(var(--muted-foreground));
  opacity: 1;
}



kbd > span {
  font-size: 0.75rem/* 12px */;
  line-height: 1rem/* 16px */;
}



.post-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-article ul, .post-article ol {
  padding-left: 20px !important;
}

.post-article ul {
  @apply list-disc list-inside
}

.post-article ol {
  @apply list-decimal list-inside
}

.post-article li {
  visibility: visible;
}